body{
	 background-color: black; 
}
#icon{
	
	font-size: 5rem;
}
.box{
	margin-top: 10px;
	margin-bottom: 50px;
	height:250px;
	border:10px solid white;
	padding-top: 5%;
	text-align: center;
	border-radius: 20px;
	color:white;
}
.links{
	color:white;
}
#username{
	color:red;
}
#TP{
	color:steelblue;
}
#b1{
	background-color: orange;
}
#b2{
	background-color: red;
}
#b3{
	background-color: #8f42db;
}
#welcome{
	text-shadow: 1px 2px black;
	font-size:60px;
}
.btn{
	margin-left: 50px;
    margin-right: 50px;
	margin-top:20px;
	width:200px;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header h1 {
  color: #fff;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://cdn.pixabay.com/photo/2016/10/22/18/52/beach-1761410__340.jpg);
	
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://cdn.pixabay.com/photo/2017/05/22/14/39/beach-2334304__340.jpg);
	
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://cdn.pixabay.com/photo/2020/05/28/05/35/landscape-5229979__340.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}